<div th:fragment="html" class="modal fade" id="productimageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">新增产品</h4>
        <span class="errorMessage"></span>
      </div>
      <div class="modal-body">
        <label class="control-label">产品id</label>
        <input type="text" class="form-control" v-model="productimage.pid" placeholder="对应的产品">
        <label class="control-label">图片类型</label>
        <div class="form-group">
          <select class="form-control" v-model="productimage.type">
            <option value="type_single">简略图</option>
            <option value="type_detail">详细图</option>
          </select>
        </div>
        <label class="control-label">上传图片</label>
        <input type="file" name="image" @change="getSingleFile($event)" placeholder="请选择你需要的图片">
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary addproductimageSubmitButton" type="submit">提交修改</button>
      </div>
    </div>
  </div>
</div>