<nav class="top" th:fragment="html">
	<a href="/">
		<span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-home redColor"></span>
		购南交
	</a>

	<span>喵，欢迎来购南交</span>

	<span th:if="${null!=loginUser}">
		<a href="login" th:text="${loginUser.name}"></a>
		<a href="forelogout" >退出</a>
	</span>
	

	<span th:if="${null==loginUser}">
		<a href="login">请登录</a>
		<a href="register">免费注册</a>
	</span>


	<span class="pull-right">
			<a href="bought">我的订单</a>
			<a href="cart">
			<span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-shopping-cart redColor"></span>
			购物车<strong th:text="${session.cartTotalItemNumber}"></strong>件</a>
	</span>
</nav>



